<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../../css/responsive/style/style.css" />
    <link
      rel="stylesheet"
      href="../../css/responsive/style/style-responsive-all-mobile-device.css"
    />
  </head>
  <body>
    <!-- popup slide bar menu -->
    <div class="popup-main-menu">
      <div class="popup-menu">
        <div class="popup-close">
          <span class="popup-close-icon">&times;</span>
        </div>
        <div class="popup-menu-control-box">
          <div class="popup-search-nav">
            <div class="popup-search-icon">
              <img src="../../assets/icons/svgs/search-2904.svg" alt="search" />
              <span>Search events</span>
            </div>
            <hr class="popup-hr-line" />
          </div>
          <span class="popup-menu-title">Home</span>
          <div>
            <div class="popup-sport">
              <span class="popup-menu-sub-title">Sports</span>
              <img
                class="popup-sport-icon"
                src="../../assets/arrrow/arrow-right.png"
                alt=""
              />
            </div>
            <hr class="popup-sport-hr-line" />
            <div class="popup-sport-title">
              <span class="popup-menu-tree-title">Home 1</span>
              <span class="popup-menu-four-title">Home 2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Close popup slide bar menu -->
    <section class="menu-top">
      <div class="menu">
        <div>
          <img src="../../assets/logo.webp" alt="logo" class="logo" class="logo" />
        </div>
        <div class="menu-fluid">
          <!-- Navbar -->
          <div class="menu-nav">
            <div class="nav-main">
              <img class="nav-main-img" src="../../assets/icons/menu.png" />
              <!-- <img
                    class="nav-main-img-search"
                    src="./assets/icons/svgs/search-2904.svg"
                  /> -->
              <img class="nav-main-img-logo" src="../../assets/logo.webp" />
            </div>
          </div>

          <ul>
            <li class="menu-item"><a href="#">Sport</a></li>
            <li class="menu-item"><a href="#">Charity Places</a></li>
            <li class="menu-item"><a href="#">Grow your event</a></li>

            <dev class="dropdown-menu-button-profile">
              <button>
                <div class="profile-selected">
                  <img
                    src="../../assets/images/Profile_Selected.jpg"
                    alt="Profile Selected"
                  />
                </div>
              </button>

              <div class="dropdown-content-profile">
                <a href="#">Login</a>
                <a href="#">Register</a>
              </div>
              <div class="profile-arrow-down">
                <img src="../../assets/down-arrow.png" />
              </div>
            </dev>
          </ul>
        </div>
      </div>
    </section>
    <script src="../../script/index.js"></script>
  </body>
</html>
