<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Detail</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../css/responsive/style/style.css">
    <link rel="stylesheet" href="../../../css/responsive/style/style-responsive-all-mobile-device.css">
    <link rel="stylesheet" href="./css/event-detail.css">
    <link rel="stylesheet" href="./css/popup-social-shared.css">
    <link rel="stylesheet" href="./css/event-detail-about.css">
    <link rel="stylesheet" href="./css/by-event.css">
    <link rel="stylesheet" href="./css/event-detail-benefit.css">
    <link rel="stylesheet" href="./css/card.css">
    <link rel="stylesheet" href="./css/event-detail-experience.css">
    <link rel="stylesheet" href="./css/event-detail-map.css">
    <link rel="stylesheet" href="./css/event-detail-summery.css">
    <link rel="stylesheet" href="./css/route-information.css">
    <link rel="stylesheet" href="./css/event-detail-include-benefit-control.css">
    <link rel="stylesheet" href="./css/get-full-direction.css">
    <link rel="stylesheet" href="./css/logistic.css">
    <link rel="stylesheet" href="./css/review.css">
    <link rel="stylesheet" href="../../../css/footer.css">
</head>
<body>
     <!-- Popup event detail social -->
     <div class="view-event-detail-popup-social-main">
      <div class="view-event-detail-popup-social-box-control">
        <div class="view-event-detail-close-icon-control">
          <i class="fa fa-times fa-view-event-detail-close-icon" aria-hidden="true"></i>
        </div>
        <h3 class="view-event-detail-top-title">Share this event with your friends</h3>
        <hr class="view-event-detail-hr"/>
        <div class="view-event-detail-box-date-control">
         <div class="view-event-detail-image-control">
          <img class="view-event-detail-image"  src="../../../assets/images/event-detail-image-box.jpg">
         </div>
          <div class="view-event-detail-content-control">
            <h3 class="view-event-detail-content-item-title">2025 TCS London Marathon</h3>
            <h4 class="view-event-detail-content-item-sub-title">Sun, 27 Apr 2025</h4>
          </div>
        </div>
        <div class="view-event-detail-social-control"></div>
      </div>
    </div>
    <!--  End popup event detail social -->

    <!-- popup slide bar menu -->
    <div class="popup-main-menu">
        <div class="popup-menu">
          <div class="popup-close">
            <span class="popup-close-icon">&times;</span>
          </div>
          <div class="popup-menu-control-box">
            <div class="popup-search-nav">
              <div class="popup-search-icon">
                <img src="../../../assets/icons/svgs/search-2904.svg" alt="search" />
                <span>Search events</span>
              </div>
              <hr class="popup-hr-line" />
            </div>
            <span class="popup-menu-title">Home</span>
            <div>
              <div class="popup-sport">
                <span class="popup-menu-sub-title">Sports</span>
                <img
                  class="popup-sport-icon"
                  src="../../../assets/arrrow/arrow-right.png"
                  alt=""
                />
              </div>
              <hr class="popup-sport-hr-line" />
              <div class="popup-sport-title">
                <span class="popup-menu-tree-title">Home 1</span>
                <span class="popup-menu-four-title">Home 2</span>
              </div>
            </div>
          </div>
        </div>
      </div>
       <!-- Close popup slide bar menu -->
      <section class="menu-top">
        <div class="menu">
          <div>
            <a href="/">
              <img id="logo" src="../../../assets/logo.webp" alt="logo" class="logo" />
            </a>
          </div>
          <div class="menu-fluid">
            <!-- Navbar -->
            <div class="menu-nav">
              <div class="nav-main">
                <img class="nav-main-img" src="../../../assets/icons/menu.png" />
                <!-- <img
                      class="nav-main-img-search"
                      src="./assets/icons/svgs/search-2904.svg"
                    /> -->
                <img class="nav-main-img-logo" src="../../../assets/logo.webp" />
              </div>
            </div>
            <ul>
              <li class="menu-item"><a href="#">Sport</a></li>
              <li class="menu-item"><a href="#">Charity Places</a></li>
              <li class="menu-item"><a href="#">Grow your event</a></li>
  
              <dev class="dropdown-menu-button-profile">
                <button>
                  <div class="profile-selected">
                    <img
                      src="../../../assets/images/Profile_Selected.jpg"
                      alt="Profile Selected"
                    />
                  </div>
                </button>
  
                <div class="dropdown-content-profile">
                  <a href="#">Login</a>
                  <a href="#">Register</a>
                </div>
                <div class="profile-arrow-down">
                  <img src="../../../assets/down-arrow.png" />
                </div>
              </dev>
            </ul>
          </div>
        </div>
        <!-- Menu event detail list -->
      </section>
      
      <section>
        <!-- End menu event detail list -->
        <div class="event-detail-menu-main-list">
          <ul class="event-detail-menu-list-control">
            <li class="event-detail-menu-item">
              <a href="#" class="event-detail-title">United Kingdom
              </a>
            </li>
            <li class="event-detail-menu-item">
              <a href="#"  class="event-detail-title">All Events
              </a>
            </li>
            <li class="event-detail-menu-item">
              <a href="#"  class="event-detail-title">Triathlons
              </a>
            </li>
            <li class="event-detail-menu-item">
              <a href="#"  class="event-detail-title">South West
              </a>
            </li>
            <li class="event-detail-menu-item">
              <a href="#"  class="event-detail-title">Bournemouth
              </a>
            </li>
          </ul>
        </div>
        <div class="event-detail-control-content-title">
          <h1 class="event-detail-content-title">2025 TCS London Marathon</h1>
        </div>
        <!-- Slide -->
        <div class="event-detail-slide-main">
          <div  class="event-detail-slide-control">
              <a data-fslightbox="gallery"  href="#id-image-1"  alt="image-1">
                <div class="event-detail-slide-control-item">
                  <img  class="event-detail-slide-item-image" id="id-image-1" src="../../../assets/event/event-detail/event-image-1.webp" alt="image-1">
                </div>
              </a>
           
            <a data-fslightbox="gallery"  href="#id-image-2"  alt="image-1">
              <div class="event-detail-slide-control-item">
                <img  class="event-detail-slide-item-image" id="id-image-2" src="../../../assets/event/event-detail/event-image-2.jpg" alt="image-1">
              </div>
            </a>

            <a data-fslightbox="gallery"  href="#id-image-3"  alt="image-1">
              <div class="event-detail-slide-control-item">
                <img  class="event-detail-slide-item-image" id="id-image-3" src="../../../assets/event/event-detail/event-detail-3.jpg" alt="image-1">
              </div>
            </a>
          </div>
          <div class="event-detail-slide-social-main-media">
           <div class="event-detail-slide-social-media-control">
           <div class="event-detail-slide-social-control">
            <button class="event-detail-slide-button-heart"> <i class="fa fa-heart-o" aria-hidden="true"></i><span class="event-detail-slide-button-title">Save</span></button>
            <button class="event-detail-slide-button-shared"><i class="fa fa-share-square-o" aria-hidden="true"></i>Shared</button>
           </div>
            <button class="event-detail-slide-button event-detail-slide-button-camera">
              <i class="fa fa-camera" aria-hidden="true"></i>
              <span class="event-detail-camera-title">1/3</span>
            </button>
           </div>
          </div>
         <a href="#view-event-detail-more-event">
          <div class="event-detail-slide-logo-link">
            <img  class="event-detail-slide-logo-link-image" src="../../../assets/images/event-detatil-logo.png" alt="event-detatil-logo">
          </div>
         </a>
        </div>
        <!-- End Slide -->
      </section>
      <!-- Link title event -->
      <section>
       <div class="event-detail-link-title-event-control">
        <a href="#view-event-detail-more-event" class="event-detail-link-title">
          <span>By</span>
          <span>London Marathon Events</span>
        </a>
       </div>
      </section>
       <!--End Link title event -->

       <!-- apply service -->
       <section>
        <div class="event-detail-apply-service">
          <div class="event-detail-apply-service-control">
            <h5 class="event-detail-apply-service-title">Free</h5>
            <button class="event-detail-apply-service-button">Apply</button>
          </div>
          <img class="event-detail-apply-service-image-bg" src="../../../assets/images/bg-style.webp">
        </div>
       </section>
       <!-- end apply service -->

       <!-- about -->
       <section>
        <div class="event-detail-about-main">
          <div class="event-detail-about-control">
            <h1 class="event-detail-about-title">About</h1>
            <p class="event-detail-about-description">The TCS London Marathon is the most popular marathon on the planet and more than one million people have completed the event since its first edition in 1981. The entire course is lined with spectators, cheering participants on every step of the way, making for a unique atmosphere and unforgettable experience. Will you join them in 2025?</p>
          </div>
        </div>
       </section>
       <!-- end about -->
       <!-- By event -->
       <section>
        <div class="event-detail-by-event-main">
          <div class="event-detail-by-event-control"></div>
          <img class="event-detail-by-event-image-bg" src="../../../assets/images/bg-style.webp">
        </div>
       </section>
       <!-- End by event -->
       <!-- Event Benefit -->
       <section>
        <div class="service-benefit event-detail-benefit-main">
          <div>
            <span class="benefit-title"
              >spanerks of booking with Let's Do This</span
            >
          </div>
          <div class="service-benefit-list">
            <ul>
              <div class="service-benefit-list-with-2">
                <li>
                  <img
                    src="../../../assets/icons/check.png"
                    alt=""
                    class="service-benefit-check-icon"
                  />Best price guarantee
                </li>
                <li>
                  <img
                    src="../../../assets/icons/check.png"
                    alt=""
                    class="service-benefit-check-icon"
                  />Official booking partner
                </li>
              </div>
  
              <div class="benefit-list-with-three-box">
                <li>
                  <img
                    src="../../../assets/icons/check.png"
                    alt=""
                    class="service-benefit-check-icon benefit-check-icon-3"
                  />We're #1 in customer satisfaction
                </li>
                <li>
                  <img
                    src="../../../assets/icons/star.png"
                    alt=""
                    class="check-icon-star"
                  />
                  <a href="#"
                    >See our <strong class="benefit-strong-title">1,047</strong>
                    <span class="benefit-strong-sub-title">review on</span></a
                  >
                </li>
                <li><a href="#">Trustpilot</a></li>
              </div>
            </ul>
          </div>
        </div>
        
      </section>
       <!-- End event Benefit -->
       <!-- Card -->
       <section>
        <div class="event-detail-card-main">
          <h1 class='event-detail-card-title'>You may also like</h1>
          <div class="event-detail-card-control"></div>
        </div>
        <img class="event-detail-apply-service-image-bg" src="../../../assets/images/bg-style.webp">
       </section>
       <!-- End Card -->

       <!-- Event experience -->
       <section>
        <div class="event-detail-experience-main">
          <div class="event-detail-experience-control">
            <h1 class="event-detail-experience-title">The event experience</h1>
            <div class="event-detail-experience-image-control">
              <img class="event-detail-experience-image-item" src="../../../assets/icons/svgs/promotion.svg">
            </div>
              <div class="event-detail-experience-control-content">
                <h2 class="event-detail-experience-sub-1">Atmosphere</h2>
                  <h3 class="event-detail-experience-sub-2">Unbelievable</h3>
                <p class="event-detail-experience-sub-3">Based on the number of participants</p>
              </div>
           
          </div>
        </div>
       </section>
       <!-- End Event experience -->
       <!-- Map -->
       <section id="id-event-detail-map">
        <div class="event-detail-map-main">
          <div class="event-detail-map-control">
            <div class="event-detail-map-control-content">
              <h1 class="event-detail-map-title">Where and when</h1>
              <h2 class="event-detail-map-sub-title">Location</h2>
              <p>London, UK</p>
              <h3>Start times</h3>
              <p>Sunday, 27 Apr 2025</p>
              <h4>TCS London Marathon (UK): TBC</h4>
              <h5>TCS London Marathon (International): TBC</h5>
            </div>
            <div class="event-detail-map-area-control">
              <iframe class="event-detail-map-are-map-iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15638.202236927189!2d104.8804897!3d11.5123092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1skm!2skh!4v1714020737187!5m2!1skm!2skh" 
                 allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
          <img class="event-detail-apply-service-image-bg" src="../../../assets/images/bg-style.webp">
        </div>
       </section>
       <!-- End Map -->

       <!-- Event detail summery -->
       <section id="id-event-detail-summery">
        <div class="event-detail-summery-main">
          <div class="event-detail-summery-control">
           <div class="event-detail-summery-content-control">
              <h1 class="event-detail-summery-title">Event summary</h1>
              <p class="event-detail-summery-sub-title">Here are the distances available for 2025 TCS London Marathon</p>
           </div>
           <div class="event-detail-box-control">
            <div class="event-detail-box-item-control">
              <h2>TCS London Marathon (UK)</h2>
              <i class="fa fa-map-o" aria-hidden="true"></i>
              <h3>26.2mi</h3>
              <h4>Free</h4>
              <button class="event-detail-summery-button">Visit site</button>
            </div>
           </div>
          </div>
        </div>
        <img class="event-detail-apply-service-image-bg" src="../../../assets/images/bg-style.webp">
       </section>
       <!-- End event detail summery -->

       <!-- Route Information -->
       <section>
        <div class="event-detail-route-info-main">
          <div class="event-detail-route-info-control">
            <h1 class="event-detail-route-info-title">Route information</h1>
            <p><span class="event-detail-route-info-bold-1">Distance:</span> 26.2 miles <span class="event-detail-route-info-bold-2">Terrain:</span> Closed roads and pavements </p>
            <p><span class="event-detail-route-info-bold-3">Elevation:</span> Mostly flat</p>
            <p class="event-detail-route-info-content-title">The London Marathon course is one of the most iconic routes in running. Winding <span class="event-detail-route-info-dots">...</span>
              <span class="event-detail-route-info-more">running. Winding its way through the heart of the capital, with crowds lining the side of the route at every step, the course has barely changed since the race was first held in 1981.
                The course begins starts in leafy Blackheath, heads east through Charlton and Woolwich for three miles, turns west and passes the Cutty Sark in Greenwich after six to seven miles.
                It crosses the River Thames at Tower Bridge and then loops around London, right past the Shard. Continuing along past the 12th mile markers, runners will be taken past Canary Wharf and the London Eye.
                Runners will finish in a blaze of glory along London's most iconic landmarks, Big Ben and The Houses of Parliament and Buckingham Palace.</span>
            </p>
            <button class="event-detail-route-info-button">
              <p class="event-detail-route-info-show-more">Show more</p>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <img class="event-detail-apply-service-image-bg" src="../../../assets/images/bg-style.webp">
       </section>
       <!-- End Route Information -->
       <!-- Benefit -->
       <section>
        <div class="event-detail-include-benefit">
          <div class="event-detail-include-benefit-control">
            <h1 class="event-detail-include-benefit-title">What's included</h1>
          <ul class="event-detail-include-benefit-list-control">
            <li class="event-detail-include-benefit-item">Bespoke finisher's Medal</li>
            <li class="event-detail-include-benefit-item">Exclusive finisher's T-shirt</li>
            <li class="event-detail-include-benefit-item">Unrivalled oncourse music entertainment zones to keep you motivated</li>
            <li class="event-detail-include-benefit-item">Incredible crowd support</li>
            <li class="event-detail-include-benefit-item">Pre-event training advice and motivation</li>
            <li class="event-detail-include-benefit-item">Oncourse hydration stations</li>
            <li class="event-detail-include-benefit-item">Chip-timed results</li>
            <li class="event-detail-include-benefit-item">Pacers</li>
            <li class="event-detail-include-benefit-item">Closed roads</li>
            <li class="event-detail-include-benefit-item">Marked and marshalled route</li>
            <li class="event-detail-include-benefit-item">Full medical support</li>
          </ul>
          </div>
        </div>
        <img class="event-detail-apply-service-image-bg" src="../../../assets/images/bg-style.webp">
       </section>
       <!-- End Benefit -->

       <!-- Get full directions  -->
       <section>
        <div class="event-detail-get-full-direction-main">
          <div class="event-detail-get-full-direction-control">
            <i class="fa fa-train train-icon" aria-hidden="true"></i>
            <h1>How to get there</h1>
              <a class="event-detail-get-full-direction-link" 
              target="_blank"
              href="https://www.google.com/maps/place/%E1%9E%95%E1%9F%92%E1%9E%9F%E1%9E%B6%E1%9E%9A+%E1%9E%96%E1%9E%B7%E1%9E%97%E1%9E%96%E1%9E%90%E1%9F%92%E1%9E%98%E1%9E%B8+%E1%9E%85%E1%9E%98%E1%9F%92%E1%9E%80%E1%9E%B6%E1%9E%9A%E1%9E%8A%E1%9E%BC%E1%9E%84+%E1%9F%A1/@11.5123185,104.8805007,15z/data=!4m6!3m5!1s0x3109507ab4fc2aa5:0xd7ca934e0389b6ad!8m2!3d11.5124952!4d104.8841676!16s%2Fg%2F11gd382f2z?entry=ttu">
                <span>Get full directions</span>
                <i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
              </a>
              <p class="event-detail-get-full-direction-sub-title">Ensure you plan your journey to the start line in advance of the big day as there will be a number of road closures in place and your usual routes into the city may not be available.</p>
          </div>
        </div>
        <img class="event-detail-apply-service-image-bg" src="../../../assets/images/bg-style.webp">
       </section>
       <!-- End Get full directions  -->
       <!-- logistics -->
       <section id="id-event-detail-logistic">
        <div class="event-detail-logistic-main">
          <div class="event-detail-logistic-control">
            <h1 class="event-detail-logistic-title">Event day logistics</h1>
            <p class="event-detail-logistic-sub-title">
              An official Event Guide will be available in the lead up to the event with information including event packs, start time information, aid station info, and much more.
            </p>
          </div>
        </div>
        <img class="event-detail-apply-service-image-bg" src="../../../assets/images/bg-style.webp">
       </section>
       <!-- End logistics -->

       <!-- more event -->
       <section id="view-event-detail-more-event">
        <div class="view-event-detail-more-event-main">
          <div class="view-event-detail-more-event-control">
            <img class="view-event-detail-more-event-image" src="../../../assets/images/event-detatil-logo-1.png">
            <h1 class="view-event-detail-more-event-title">London Marathon Events</h1>
            <a  class="view-event-detail-more-event-link" href="#" target="_blank">
              View more London Marathon Events events
              <span><i class="fa fa-arrow-circle-o-up" aria-hidden="true"></i>
              </span>
            </a>
          </div>
        </div>
        <img class="event-detail-apply-service-image-bg" src="../../../assets/images/bg-style.webp">
       </section>
        <!-- end more event -->

        <!-- traditional -->
        <section>
          <div class="event-detail-traditional-main">
            <div class="event-detail-traditional-control">
              <i class="fa fa-venus event-detail-traditional-icon" aria-hidden="true"></i>
              <h1 class="event-detail-traditional-top-title">Spectator Info</h1>
              <p class="event-detail-traditional-title">The traditional TCS London Marathon route takes in some of the most famous landmarks in the city and spectators are welcome to watch from almost anywhere along the 26.2-mile stretch.</p>
              <p class="event-detail-traditional-sub-title">Please note that some parts of the route – including the areas by Cutty Sark and St James's Park – do get very busy on Marathon Day, while The Highway will enable you to see everyone pass twice!</p>
            </div>
          </div>
          <img class="event-detail-apply-service-image-bg" src="../../../assets/images/bg-style.webp">
        </section>
        <!-- end traditional -->

        <!-- Review -->
        <section>
          <div class="event-detail-review-main">
            <div class="event-detail-review-controll">
              <h1>Reviews</h1>
              <p class="event-detail-review-sub-title">This event currently has no reviews, why not be the first? You could help someone find their perfect event.</p>
              <button class="event-detail-review-button">Add a review</button>
            </div>
          </div>
        </section>
        <!-- End Review -->
        <footer class="footer">
          <div class="footer-control">
            <!-- Box1 -->
            <div class="footer-box-1-control">
              <div class="footer-box-1-sub-control">
                <h4 class="footer-main-item-title">Events in the United Kingdom</h4>
                <ul class="footer-box-1-ul">
                  <li class="footer-box-1-item-li">
                    <a class="footer-box-1-item-a" href="#">Running events</a>
                  </li>
                  <li class="footer-box-1-item-li">
                    <a href="#" class="footer-box-1-item-a">Running events</a>
                  </li>
                  <li class="footer-box-1-item-li">
                    <a href="#" class="footer-box-1-item-a">Running events</a>
                  </li>
                  <li class="footer-box-1-item-li">
                    <a href="#" class="footer-box-1-item-a">Running events</a>
                  </li>
                  <li class="footer-box-1-item-li">
                    <a href="#" class="footer-box-1-item-a">Running events</a>
                  </li>
                </ul>
              </div>
    
              <!-- Box1-sub -->
              <div>
                <div class="footer-box-1-sub-control">
                  <h4 class="footer-main-item-title">Running Events in the UK</h4>
                  <ul class="footer-box-1-ul">
                    <li class="footer-box-1-item-li">
                      <a class="footer-box-1-item-a" href="#">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                  </ul>
                </div>
              </div>
    
              <!-- Box1-sub-2 -->
              <div>
                <div class="footer-box-1-sub-control">
                  <h4 class="footer-main-item-title">Triathlon Events in the UK</h4>
                  <ul class="footer-box-1-ul">
                    <li class="footer-box-1-item-li">
                      <a class="footer-box-1-item-a" href="#">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Box1-sub-3 -->
              <div>
                <div class="footer-box-1-sub-control">
                  <h4 class="footer-main-item-title">Popular Locations</h4>
                  <ul class="footer-box-1-ul">
                    <li class="footer-box-1-item-li">
                      <a class="footer-box-1-item-a" href="#">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    
            <!-- Box2 -->
            <div>
              <hr class="footer-hr" />
            </div>
            <!-- Box3-->
            <div>
              <div class="footer-box-1-control">
                <div class="footer-box-1-sub-control">
                  <h4 class="footer-main-item-title">Company</h4>
                  <ul class="footer-box-1-ul">
                    <li class="footer-box-1-item-li">
                      <a class="footer-box-1-item-a" href="#">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                    <li class="footer-box-1-item-li">
                      <a href="#" class="footer-box-1-item-a">Running events</a>
                    </li>
                  </ul>
                </div>
    
                <!-- Box1-sub -->
                <div>
                  <div class="footer-box-1-sub-control">
                    <h4 class="footer-main-item-title">Policies</h4>
                    <ul class="footer-box-1-ul">
                      <li class="footer-box-1-item-li">
                        <a class="footer-box-1-item-a" href="#">Running events</a>
                      </li>
                      <li class="footer-box-1-item-li">
                        <a href="#" class="footer-box-1-item-a">Running events</a>
                      </li>
                      <li class="footer-box-1-item-li">
                        <a href="#" class="footer-box-1-item-a">Running events</a>
                      </li>
                      <li class="footer-box-1-item-li">
                        <a href="#" class="footer-box-1-item-a">Running events</a>
                      </li>
                    </ul>
                  </div>
                </div>
    
                <!-- Box1-sub-2 -->
                <div>
                  <div class="footer-box-1-sub-control">
                    <h4 class="footer-main-item-title">Office</h4>
                    <ul class="footer-box-1-ul">
                      <li class="footer-box-1-item-li">
                        <a class="footer-box-1-item-a" href="#">Running events</a>
                      </li>
                      <li class="footer-box-1-item-li">
                        <a href="#" class="footer-box-1-item-a">Running events</a>
                      </li>
                      <li class="footer-box-1-item-li">
                        <a href="#" class="footer-box-1-item-a">Running events</a>
                      </li>
                      <li class="footer-box-1-item-li">
                        <a href="#" class="footer-box-1-item-a">Running events</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- Box1-sub-3 -->
                <div>
                  <div class="footer-box-1-sub-control footer-box-3-control">
                    <h4 class="footer-main-item-title">Follow Us</h4>
                    <div class="footer-control-social">
                      <span>
                        <img
                          class="footer-box-3-social"
                          src="../../../assets/icons/svgs/social/black-facebook.svg"
                          alt=""
                        />
                        <img
                          class="footer-box-3-social"
                          src="../../../assets/icons/svgs/social/black-twitter.svg"
                          alt=""
                        />
                      </span>
                      <span>
                        <img
                          class="footer-box-3-social"
                          src="../../../assets/icons/svgs/social/black-instagram.svg"
                          alt=""
                        />
                        <img
                          class="footer-box-3-social"
                          src="../../../assets/icons/svgs/social/black-github.svg"
                          alt=""
                        />
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Box4 -->
            <div>
              <hr class="footer-hr" />
            </div>
            <!-- Box5-->
            <div class="footer-logo-control">
              <img
                class="footer-logo-image"
                src="../../../assets/logo.webp"
                alt="footer logo"
              />
            </div>
            <div class="footer-box-5">
              <div>
                <h4 class="footer-main-item-title">Let's Do This Terms of Use</h4>
              </div>
              <div>
                <h3 class="footer-main-item-title footer-box-5-tree-title">
                  let't do this
                </h3>
              </div>
              <div class="footer-flag">
                <div class="footer-change-language-box">
                  <div class="footer-change-language-control-box-content">
                    <span class="footer-change-language-title">Khmer</span>
                    <span class="footer-change-language-sub-title">English</span>
                  </div>
                </div>
                <img
                  class="footer-flag-logo"
                  src="../../../assets/icons/svgs/flag/uk-flag.svg"
                  alt="flag"
                />
                <h5 class="footer-main-item-title">Change region</h5>
              </div>
            </div>
          </div>
        </footer>

      <script src="../../../script/fslightbox.js"></script>
      <script src="../../../script/index.js"></script>
      <script src="./script/event-detail-script.js"></script>
      <script src="./script/event-detail-summery.js"></script>
      <script src="../../../script/footer.js"></script>
</body>
</html>
