
.event-detail-get-full-direction-main {
    background-color: var(--color-secondary-white);
}
.event-detail-get-full-direction-control {
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 40%;
    margin: auto;
}

.event-detail-get-full-direction-control
.train-icon {
    font-size: 43px;
}
.event-detail-get-full-direction-link {
    font-weight: bold;
    color: var(--text-color-blue);
}

/* Styles for small devices (e.g., iPhone 5) */
@media only screen and (max-width: 320px) {
    /* Styles specific to small devices */
  }
  
  /* Styles for medium-sized devices (e.g., iPhone 6/7/8) */
  @media only screen and (min-width: 321px) and (max-width: 768px) {
    /* Styles specific to medium-sized devices */
  }
  
  /* Old */
  /* Media Query for Mobile Devices */
  @media only screen and (max-width: 480px) {
  }
  
  /* Media Query for low resolution  Tablets, Ipads */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .event-detail-get-full-direction-sub-title {
        font-size: 14px;
    }
  }
  
  /* Media Query for Tablets Ipads portrait mode */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
   
  }
  
  /* Media Query for Laptops, Desktops portrait mode */
  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
   
  }