.event-detail-route-info-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
}
/* Button */
.event-detail-route-info-button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 7px;
}
.event-detail-route-info-button:hover {
    cursor: pointer;
}

/* Hide content with dot */
.event-detail-route-info-more {
    display: none;
}
.event-detail-route-info-show-more {
    font-weight: bold;
}

/* Styles for small devices (e.g., iPhone 5) */
@media only screen and (max-width: 320px) {
    /* Styles specific to small devices */
  }
  
  /* Styles for medium-sized devices (e.g., iPhone 6/7/8) */
  @media only screen and (min-width: 321px) and (max-width: 768px) {
    /* Styles specific to medium-sized devices */
  }
  
  /* Old */
  /* Media Query for Mobile Devices */
  @media only screen and (max-width: 480px) {
    .event-detail-route-info-content-title {
        font-size: 14px;
    }
  }
  
  /* Media Query for low resolution  Tablets, Ipads */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .event-detail-route-info-content-title {
        font-size: 14px;
    }
  }
  
  /* Media Query for Tablets Ipads portrait mode */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
   .event-detail-route-info-content-title {
    font-size: 14px;
   }
  }
  
  /* Media Query for Laptops, Desktops portrait mode */
  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
   
  }